.data-header-section {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
}

    .top-data-section, .bottom-data-section {
        width: 100%;
        height: 50%;
    }

    .top-data-section {
        display: flex;
        align-items: flex-end;
    }
        .date-section {
            width: 55%;
            height: 65%;
        }
            .date-box {
                width: 100%;
                height: 25%;
                background-color: orangered;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 2em;
                clip-path: polygon(0 0, 100% 0, 70% 100%, 0% 100%);
            }
    
    .bottom-data-section {
        display: flex;
        flex-direction: column;
    }
        .getTickets-section {
            width: 100%;
            height: 9%;
            display: flex;
            justify-content: flex-end;
        }
            .getTickets-box {
                width: 40%;
                height: 100%;
                background-color: rgba(0,0,0,80%);  
                display: flex;
                justify-content: center;
                align-items: center;
                color: white;  
                border-bottom-left-radius: 5em;
                border-top-left-radius: 5em;
            }
                .getTickets-box a {
                    color: white;
                    text-decoration: none;
                }

        .djName-section {
            width: 100%;
            height: 40%;
            background-color: rgba(0,0,0,80%);
            margin: 10% 0 7% 0;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            font-size: 3.5em;
        }
        
        .hour-section {
            width: 100%;
            height: 9%;
            display: flex;
            justify-content: center;
        }
        
            .hour-box {
                width: 30%;
                height: 100%;
                border-bottom: 2px solid orangered;
                color: white;
                display: flex;
                justify-content: center;
                align-items: center;
            }