header {
    width: 100%;
    height: 100vh;
    margin: 0;
    animation: pulse .9s;
}

    .bg-header-box {
        width: 100%;
        height: 100%;
    }

    .gradient-header {
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(transparent, black);
    }

    .bg-header-img {
        width: inherit;
        height: 100vh;
        object-fit: cover;
        object-position: 50% 0;
        position: fixed;
        z-index: -1;
    }