.nav-fix {
    width: 100%;
    height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

.logo-section {
    height: 100%;
    display: flex;
    align-items: center;
}

    .logo-section img {
        height: 50%;
        margin: 0 1em;
        animation: pulse .9s;
    }

.btn-section-nav {
    width: 10vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .btn-section-nav svg {
        width: 40%;
        height: 40%;
        fill: #fff;
    }

    .btn-section-nav button {
        width: 100%;
        height: 100%;
        font-size: 1.5em;
        background: none;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        border: none;
    }

        .circle-btn-menu {
            width: 20px;
            height: 20px;
            border-radius: 5em;
            border: 2px white solid;
            background-color: none;
        }
        
        .showBg {
            border: 2px orangered solid;
            animation: pulse .4s;
        }

/* Hide nav */

.nav-hide-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
}

    .nav-hide {
        width: 75%;
        height: 100%;
        background: linear-gradient(black,  rgba(0,0,0,95%), black);
        position: absolute;
    }

    .btn-hide-nav {
        width: 100%;
        height: 100%;
        background: none;
    }

        .logo-section-nav-hide {
            width: 100%;
            height: 15vh;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom: 1px solid orangered;
        }

            .logo-section-nav-hide img{
                width: 50%;
            }

        .btn-Nav-section {
            width: 100%;
            height: 75%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-end;
        }

            .btn-Nav-section button {
                width: 100%;
                height: 100%;
                text-align: left;
                padding-left: 50px;
                font-family: futura;
                background: none;
                color: #fff;
            }
            
            .btn-Nav-section button:hover {
                background: #000;
                color: orangered;
                padding-left: 46px;
                border-left: 4px solid orangered;
            }

        .nav-profile-section {
            width: 100%;
            height: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

            .nav-profile-box {
                width: 75%;
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            .nav-profile-box button {
                width: 10vh;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                background: none;
                color: orangered;
                font-size: 1.5em;
            }

.display-none {
    display: none;
}